*{
    margin: 0% ;
    padding: 0%;
}
main{
    color:#fff;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.right-side{
    background-color: #1E1E1E;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.allright{
    display: flex;
    height: 80vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left-side{
    background: url(../image/left-side.png)  , url(../image/3503715.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}
.input{
    width: 410px;
    height: 54px;
    background-color: #1E1E1E;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: .2rem;
    color: #afafaf;
    font-size: 1em;
    margin-top: 25px;
    font-family: YekanBakhHeavy;
    transition: all 200ms ease;
    text-align: left;
}
.input::placeholder{
    padding: 5px 15px;
    text-align: right;

}
.input:focus{
border-color: #c67006;
outline: none;
color: rgb(255, 255, 255);
}
.button button{
    border-radius: .2rem;
    font-family: YekanBakhHeavy;
    font-size: 1em;
    color: #fff;
    width: 410px;
    height: 54px;
    background-color: #eb8307;
    border-color: transparent;
    transition: all 200ms ease;


}
.button button:hover{
    background-color: #c67006;
}
.button{
    margin-top: 25px;
}
.down button{
    background-color: #292929;
    font-family: YekanBakhBold;
    font-size: 1.2em;


}
.des{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
h2{
    font-family:YekanBakhBold;
    z-index: 2;
    padding: 5px 15px;
    background-color:#1E1E1E;
}
.hr{
    height: 1px;
    width: 410px;
    background: linear-gradient(to right, rgba(30,30,30,0.12) 0%,rgba(30,30,30,0.21) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 90%,rgba(30,30,30,0.12) 100%);    position: absolute;
    z-index: 1;

}
.bot {
    margin-top: 15px;
}

@media (max-width: 480px){
    .left-side{
        display: none;
    }
    main{
        width: 100vw;
        overflow: hidden;
        
    }
    .right-side{
        width: 480px;
        height: 100vh;
        padding: 15px ;
        
    }
    .allright{
        margin-bottom: 15px;
    }
    .input{
        width: 90vw;
    }
     .down button{
        width: 90vw;

    }
    .top button{
        width: 90vw;
    }
    .des{
        width: 90vw;
    }
}
